<!DOCTYPE html>
<html lang="tl">
<head>
    <title>CrepePlus</title>
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <img alt="CrepeSR Icon" draggable="false" src="../img/CrepeSR.png"/>
    <h1>CrepePlus</h1>
    <p>
        CrepeSR, packaged into one app.
    </p>
    <p>
        CrepePlus installs and can run CrepeSR.
    </p>
    <button onclick="location.href='https://discord.gg/zpCxawuf5S'">Discord Support Server </button> <span class="ssssssss">  -</span>
    <span class="sepa"> -|- </span>
    <button onclick="location.href='https://docs.ps.rrryfoo.cf/crepe/StarRail/conwhsr'">Website Docs</button>
</div>
</body>
</html>