<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>CrepePlus - Credits</title>
    </head>
    <body>
        <div class="container">
            <h1>CrepePlus - Credits</h1>
            <p>
                Midrooms - Creator of the project. (bestie 🥺)
            </p>
            <p>
                mangorifo - a contributor to the project
            </p>
            <br><br><br>
            Also, please contribute to the project!
        </div>
    </body>
</html>