<!DOCTYPE html>
<html>
    <head>
        <title>CrepePlus - Docs</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1>Required to play</h1>
            <p>
                <a href="https://www.python.org/downloads">Latest version of Python</a>
            </p>
            <p>
                <a href="https://nodejs.org/dist/v18.12.1/node-v18.12.1.pkg">Node.js v18^</a>
            </p>
            <p>
                <a href="https://snapshots.mitmproxy.org/9.0.1/mitmproxy-9.0.1-windows-x64-installer.exe">mitmproxy</a>
            </p>
            <p>
                <a href="https://anonfiles.com/JdYejex2y7/StarRail_cbt_rar"><i>anime game cbt</i></a>
            </p>
            <p>
                <a href="https://www.mongodb.com/try/download/compass">MongoDB Compass</a> and <a href="https://www.mongodb.com/try/download/community">MongoDB Community</a>
            </p>
            <p>
                <a href="https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&channel=Release&version=VS2022&source=VSLandingPage&cid=2030&passive=false">Visual Studio (C++ WORKLOAD)</a>
            </p>
            <h1>Connecting</h1>
            <p>
                So, first, you need to install NPM modules.
            </p>
            <p>
                You can do this by clicking on "Start CrepePlus > Install NPM Modules (do this before starting CrepeSR)" (shown in the image below)
            </p>
            <img src="./img/t.png">
            <p>
                NOTE: To install CrepeSR modules, you need the C++ visual studio workload and Python
            </p>
            <p>
                When it is done installing, click on "Start CrepePlus > Start CrepeSR". 
            </p>
            <p>
                Open "StarRail.exe" once CrepePlus has started.
            </p>
            <h1>Troubleshooting</h1>
              <p>
                If you cannot connect/view websites, go to Settings > Search "Proxy" > Change proxy settings > Turn "Use a proxy server" off
              </p>
            <button onclick="location.href='https://discord.gg/zpCxawuf5S'">Discord Support Server</button>
        </div>
    </body>
</html>